* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'roboto';
  src: url(./Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'bebas';
  src: url(./Fonts/BebasNeue-Regular.ttf);
}

:root {
  --main-color: #fff9f4;
  --orange-color: #ff8367;
  --grey-color: #E5E5E5;
  --text-color: #363958;
  --button-color: #3D4FF3;
  --button-hover: #0B5ED7;
  --image-color: #F1F1F1;
  --footer-color: #F8F9FA;
}

body {
  font-family: 'roboto';
  background-color: var(--grey-color);
}

/* Header Section */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-color);
  padding: 12px 0px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
}

p {
  line-height: 25px;
}

.logo {
  display: flex;
  text-transform: uppercase;
  width: 40%;
  padding-right: 20%;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.logo-img img {
  width: 100%;
}

.logo-content {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.logo-content span {
  color: var(--orange-color);
  font-weight: 700;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}

.links ul li .grey {
  color: rgba(0, 0, 0, 0.55);
}

.links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 8px;
}

.bar {
  display: none;
}

/* Hero Section */

.hero-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  background-color: var(--main-color);
  padding: 0px 0px 70px;
}

.shoeimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2rem;
}

.shoeimg img {
  width: 100%;
}

.shoecontent {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.shoecontent h1 {
  font-family: 'bebas';
  font-size: 80px;
  font-weight: 500;
  color: var(--text-color);
}

.shoecontent p {
  line-height: 24px;
  padding-bottom: 20px;
}

.shoecontent .orange {
  font-family: 'bebas';
  color: var(--orange-color);
}

.hero-sec button,
.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
  width: 33%;
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 17px;

}

button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

/* Designs Section */

.casual {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 200px;
}


.casual h2 {
  font-family: 'bebas';
  font-weight: 500;
  font-size: 48px;
  color: var(--text-color);
}

.shoes-cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  width: 35%;
  border-radius: 20px;
  padding: 12px;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.cardimg {
  height: 100% !important;
}

.cardimg img {
  border-radius: 20px;
  height: 100% !important;
  width: 100%;
  background-color: var(--image-color);
}

.cardtitle {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 8px 16px;
}

.cardtitle>h4 {
  color: var(--text-color);
}

.cardtitle h4 {
  font-size: 24px;
  font-weight: 600;
}

.price {
  display: flex;
  justify-content: space-between;
  color: var(--orange-color);
  padding: 15px 0px;
}

.formalimg img {
  background-color: transparent;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  padding: 20px 200px;
}

.ftsec {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

.boximg {
  width: 35%;
  padding: 16px 44px;
}

.boximg img {
  width: 100%;
}

.boxcontent {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 16px;
}

.boxcontent h5 {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
  padding-bottom: 8px;
}

.ftimg {
  display: flex;
  justify-content: flex-end;
  width: 55%;
}

.features .ftimg img {
  width: 100%;
  height: 70%;
}

/* Email Section */

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 200px;
}

.emailsec {
  text-align: center;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  padding: 12px;
}

.emailsec h2 {
  padding: 20px 0px 30px;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
}

.input-group {
  display: flex;
  padding: 10px 30px;
}

.input-group input {
  flex-grow: 1;
  padding: 15px 40px;
  border-radius: 5px;
  border: 1px solid var(--grey-color);
}

.input-group button {
  padding: 3px 6px;
  background-color: var(--button-color);
  border: none;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group button:hover {
  background-color: green;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer-color);
}

.ftr-links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
  padding: 20px 200px;
  color: var(--text-color);
}

.ftr-links h5 {
  padding: 10px 0px 14px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.ftr-links .list {
  padding: 24px;
}

.ftr-links .list ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.ftr-links .list ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.cpr {
  padding: 20px 0px;
}

.cpr span {
  color: var(--orange-color);
}



/* Media Quries */

@media only screen and (max-width:480px) {

  .links {
    display: none;
  }

  header {
    width: 100%;
    padding: 2% 4%;
  }

  .logo {
    width: 100%;
  }

  .logo-img {
    width: 15%;
  }

  .logo-img img {
    width: 100%;
  }

  .bar {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hero-sec {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 12px;
  }

  .hero-sec button,
  .card button {
    width: 60%;
  }

  .shoeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
  }

  .shoeimg img {
    width: 100%;
  }

  .shoecontent {
    padding: 16px;
  }

  .hero-sec button {
    width: 45%;
  }

  .casual {
    padding: 40px 30px;
  }

  .shoes-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .card {
    width: 100%;
  }

  .features {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 15px;
  }

  .features .ftimg {
    display: flex;
    order: -1;
    width: 100%;
  }

  .features .ftimg img {
    width: 100%;
  }

  .ftsec {
    width: 100%;

  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .boximg {
    width: 70%;
    padding: 0px 44px;
  }

  .boxcontent {
    width: 100%;
  }

  .email {
    padding: 16px;
  }

  .input-group {
    display: flex;
    padding: 14px 0px;
    width: 100%;
  }

  .input-group input {
    padding: 9px 20px;
  }

  .subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: none;
    padding: 5px 7px;
    background: #3b5cff;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
  }

  .ftr-links {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .ftr-links .list {
    width: 100%;
    text-align: center;
    padding: 15px;
  }

}

@media only screen and (min-width:481px) and (max-width:768px) {

  .links {
    display: none;
  }

  header {
    width: 100%;
    padding: 2% 4%;
  }

  .logo {
    width: 100%;
  }

  .logo-img {
    width: 15%;
  }

  .logo-img img {
    width: 100%;
  }

  .bar {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hero-sec {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 12px 30px;
  }

  .shoeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .shoeimg img {
    width: 100%;
  }

  .shoecontent {
    padding: 16px;
  }

  .hero-sec button {
    width: 45%;
  }

  .casual {
    padding: 40px 30px;
  }

  .card {
    width: 100%;
  }

  .cardtitle {
    display: flex;
    flex-direction: column;
  }

  .card button {
    width: 20%;
  }

  .shoes-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .features {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
  }

  .features .ftimg {
    display: flex;
    order: -1;
    width: 100%;
  }

  .features .ftimg img {
    width: 100%;
  }

  .ftsec {
    width: 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
  }


  .boximg {
    width: 40%;
    padding: 0px 20px;
  }

  .boxcontent {
    width: 100%;
  }

  .boxcontent h5 {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
    padding-bottom: 8px;
  }

  .boxcontent p {
    font-size: 20px;
  }

  .card {
    width: 100%;
  }

  .email {
    padding: 16px 30px;
  }

  .input-group {
    display: flex;
    padding: 14px 0px;
    width: 100%;
  }

  .input-group input {
    padding: 9px 20px;
  }

  .subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: none;
    padding: 5px 7px;
    background: #3b5cff;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
  }

  .ftr-links {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .ftr-links h5 {
    padding: 10px 0px 14px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .ftr-links .list ul li a {
    font-size: 30px;
    text-decoration: none;
    color: var(--text-color);
  }

  .ftr-links .list {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  footer p{
    font-size: 20px;
  }
}